{% include 'product_tracking/head.html' %}
{% load static %}
{% block content %}


    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cancelButton').click(function () {
                $('#offcanvasExample').offcanvas('hide');
            });
        });

        let currentPage = 1;
        const pageSize = 10;
        let totalItems = 0;

        function fetchConnectList() {
            const startIndex = (currentPage - 1) * pageSize;
            const endIndex = startIndex + pageSize;

            $.ajax({
                url: '/connect_list/',
                type: 'GET',
                success: function (data) {
                    totalItems = data.length;
                    const currentPageData = data.slice(startIndex, endIndex);
                    $('#category-table-body').empty();
                    $.each(currentPageData, function (index, category) {
                        var row = '<tr>' +
                            '<td>' + (index + 1) + '</td>' +
                            '<td><span>' + (category.type || '') + '</span></td>';

                        if (category.type === 'Company') {
                            row += '<td><span>' + (category.company_name || '') + '</span></td>' +
                                '<td><span>' + (category.contact_email || '') + '</span></td>' +
                                '<td><span>' + (category.contact_person_no || '') + '</span></td>' +
                                '<td><span>' + (category.office_address || '') + '</span></td>';
                        } else if (category.type === 'Venue') {
                            row += '<td><span>' + (category.venue_name || '') + '</span></td>' +
                                '<td><span>' + (category.email_add || '') + '</span></td>' +
                                '<td><span>' + (category.email_add || '') + '</span></td>' +
                                '<td><span>' + (category.venue_address || '') + '</span></td>';
                        } else if (category.type === 'Individual') {
                            row += '<td><span>' + (category.name || '') + '</span></td>' +
                                '<td><span>' + (category.email || '') + '</span></td>' +
                                '<td><span>' + (category.mobile || '') + '</span></td>' +
                                '<td><span>' + (category.address || '') + '</span></td>';
                        } else if (category.type === 'Client') {
                            row += '<td><span>' + (category.client_name || '') + '</span></td>' +
                                '<td><span>' + (category.email || '') + '</span></td>' +
                                '<td><span>' + (category.client_mobile_no || '') + '</span></td>' +
                                '<td><span>' + (category.client_address || '') + '</span></td>';
                        }

                        row += '<td><span>' + (category.city || '') + '</span></td>' +
                            '<td><span>' + (category.country || '') + '</span></td>' +
                            '<td><span>' + (category.post_code || '') + '</span></td>' +
                            '<td style="display: none"><span>' + (category.id || '') + '</span></td>' +
                            '<td>' +
                            '<div class="hstack gap-3 flex-wrap">' +
                            '<a href="#" class="link-success fs-base edit-btn me-2"><i class="ri-pencil-fill"></i></a>' +
                            '<a href="#" class="link-danger fs-base delete-btn"><i class="ri-delete-bin-fill"></i></a>' +
                            '</div>' +
                            '</td>' +
                            '</tr>';
                        $('#category-table-body').append(row);
                    });


                    updatePaginationCount(totalItems);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        function updatePaginationCount(totalItems) {
            const totalPages = Math.ceil(totalItems / pageSize);
            $('#pagination-count').text(`Showing ${currentPage * pageSize - pageSize + 1} to ${Math.min(currentPage * pageSize, totalItems)} of ${totalItems} entries`);

            if (currentPage > totalPages) {
                currentPage = totalPages;
            }
        }

        $(document).on('click', '.edit-btn', function () {
            var row = $(this).closest('tr');
            var connectId = row.find('td:eq(9)').text().trim();
            var connectType = row.find('td:eq(1)').text().trim();
            var connectName = row.find('td:eq(2)').text().trim();
            var connectEmail = row.find('td:eq(3)').text().trim();
            var connectMobile = row.find('td:eq(4)').text().trim();
            var connectAddress = row.find('td:eq(5)').text().trim();
            var connectCity = row.find('td:eq(6)').text().trim();
            var connectCountry = row.find('td:eq(7)').text().trim();
            var connectPostCode = row.find('td:eq(8)').text().trim();


            console.log('connect ID:', connectId)
            console.log('Connect Type', connectType, connectName, connectEmail, connectMobile, connectAddress)
            // Populate modal with connect data
            $('#editConnectId').val(connectId);
            $('#editConnectType').val(connectType);
            $('#editConnectName').val(connectName);
            $('#editConnectEmail').val(connectEmail);
            $('#editConnectMobile').val(connectMobile);
            $('#editConnectAddress').val(connectAddress);
            $('#editConnectCity').val(connectCity);
            $('#editConnectCountry').val(connectCountry);
            $('#editConnectPostCode').val(connectPostCode);

            // Show edit modal
            $('#editConnectModal').modal('show');
        });

        $(document).on('click', '#saveChangesBtn', function () {
            updateConnectInDatabase();
        });

        function updateConnectInDatabase() {
            var connectId = $('#editConnectId').val();
            var connectType = $('#editConnectType').val().trim();
            var connectName = $('#editConnectName').val().trim();
            var connectEmail = $('#editConnectEmail').val().trim();
            var connectMobile = $('#editConnectMobile').val().trim();
            var connectAddress = $('#editConnectAddress').val().trim();
            var connectCity = $('#editConnectCity').val().trim();
            var connectCountry = $('#editConnectCountry').val().trim();
            var connectPostCode = $('#editConnectPostCode').val().trim();

            var formData = {
                'type': connectType,
                'name': connectName,
                'email': connectEmail,
                'mobile': connectMobile,
                'address': connectAddress,
                'city': connectCity,
                'country': connectCountry,
                'post_code': connectPostCode
            };

            var csrftoken = getCookie('csrftoken');

            $.ajax({
                url: '/update_connect/' + connectId + '/',
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                },
                success: function (response) {
                    console.log(response);
                    $('#editConnectModal').modal('hide');
                    fetchConnectList();

                },
                error: function (xhr, status, error) {
                    console.error('Error updating connect:', error);
                }
            });
        }



        $(document).on('click', '.delete-btn', function () {
            var row = $(this).closest('tr');
            var ConnectID = row.find('td:eq(9)').text().trim();

            if (confirm('Are you sure you want to delete this contact?')) {
                var csrftoken = getCookie('csrftoken');

                $.ajax({
                    url: '/delete_connect/' + ConnectID + '/',
                    type: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    },
                    success: function (response) {
                        console.log(response);

                        fetchConnectList();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error deleting subcategory:', error);
                    }
                });
            }
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function () {
            fetchConnectList();

            $('#prev-page-btn').click(function () {
                if (currentPage > 1) {
                    currentPage--;
                    fetchConnectList();
                }
            });

            $('#next-page-btn').click(function () {
                const totalPages = Math.ceil(totalItems / pageSize);

                if (currentPage < totalPages) {
                    currentPage++;

                    fetchConnectList();
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            var companyFields = document.getElementById("companyFields");
            var individualFields = document.getElementById("individualFields");
            var venueFields = document.getElementById("venueFields");

            function toggleFields() {
                if (document.getElementById("customRadioBox7").checked) {
                    companyFields.style.display = "block";
                    individualFields.style.display = "none";
                    venueFields.style.display = "none";
                    clientFields.style.display = "none";
                } else if (document.getElementById("customRadioBox8").checked) {
                    companyFields.style.display = "none";
                    individualFields.style.display = "block";
                    venueFields.style.display = "none";
                    clientFields.style.display = "none";
                } else if (document.getElementById("customRadioBox9").checked) {
                    companyFields.style.display = "none";
                    individualFields.style.display = "none";
                    venueFields.style.display = "block";
                    clientFields.style.display = "none";
                } else if (document.getElementById("customRadioBox10").checked) {
                    companyFields.style.display = "none";
                    individualFields.style.display = "none";
                    venueFields.style.display = "none";
                    clientFields.style.display = "block";
                }
            }

            document.getElementById("customRadioBox7").addEventListener("change", toggleFields);
            document.getElementById("customRadioBox8").addEventListener("change", toggleFields);
            document.getElementById("customRadioBox9").addEventListener("change", toggleFields);
            toggleFields();
        });
        $.ajax({
            url: '/company_dropdown_view/',
            type: 'GET',
            success: function (data) {
                $('#Selectcompany').empty();
                $('#Selectcompany').append($('<option></option>').attr('value', '').text('Select Company'));
                $.each(data, function (index, category) {
                    $('#Selectcompany').append('<option value="' + category.company_name + '">' + category.company_name + '</option>');
                });
            },
            error: function (xhr, status, error) {
                console.error('Error fetching data:', error);
            }
        })

        $(document).on('click', '#closeFormBtn', function () {
            $('#editConnectModal').modal('hide');
        });

    </script>


    <body data-typography="poppins" data-theme-version="light" data-layout="vertical" data-nav-headerbg="black"
          data-headerbg="color_1">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        {% include 'product_tracking/navheader.html' %}
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Chat box start
        ***********************************-->

        <!--**********************************
            Chat box End
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        {% include 'product_tracking/header.html' %}
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        {% include 'product_tracking/sidebar.html' %}
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Contact List </h4>
                                <div>
                                    <a class="btn btn-primary btn-sm me-1" data-bs-toggle="offcanvas"
                                       href="#offcanvasExample" role="button" aria-controls="offcanvasExample">+ Add
                                        Contacts</a>
                                </div>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <div class="table-responsive table-card">
                                    <table class="table primary-table-bordered"
                                           id="contact-table">
                                        <thead class="thead-primary" style="text-align: center;">
                                        <tr>
                                            <th scope="col">SR NO</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">City</th>
                                            <th scope="col">Country</th>
                                            <th scope="col">PostCode</th>
                                            <th scope="col" style="width: 150px;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody id="category-table-body" style="text-align: center;">

                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end card-body -->
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div id="pagination-count" style="padding: 10px;">Showing 0 to 0 of 0 entries</div>
                                <div style="padding-bottom: 10px;margin: 5px;">
                                    <button id="prev-page-btn" class="btn btn-primary me-2">Previous</button>
                                    <button id="next-page-btn" class="btn btn-primary">Next</button>
                                </div>
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div>
        </div>

        <!--**********************************
            Content body end
        ***********************************-->
        <div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="offcanvasExample">
            <div class="offcanvas-header">
                <h5 class="modal-title" id="#gridSystemModal">Add Contacts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="offcanvas-body">
                <div class="container-fluid">
                    <form action="{% url 'add_connects' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xl-12 mb-3">
                                <div class="form-check custom-checkbox form-check-inline">
                                    <input type="radio" class="form-check-input" id="customRadioBox7" name="type"
                                           value="Company" checked>
                                    <label class="form-check-label" for="customRadioBox7">Company</label>
                                </div>
                                <div class="form-check custom-checkbox form-check-inline">
                                    <input type="radio" class="form-check-input" id="customRadioBox8" name="type"
                                           value="Individual">
                                    <label class="form-check-label" for="customRadioBox8">Individual</label>
                                </div>
                                <div class="form-check custom-checkbox form-check-inline">
                                    <input type="radio" class="form-check-input" id="customRadioBox9" name="type"
                                           value="Venue" checked>
                                    <label class="form-check-label" for="customRadioBox9">Venue</label>
                                </div>
                            </div>
                        </div>
                        <div id="companyFields" style="display: none;">
                            <div class="row">
                                <div class="col-xl-6 mb-3">
                                    <label for="companyName" class="form-label">Company Name<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="companyName" name="company_name">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="gstNo" class="form-label">GST NO<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="gstNo" name="gst_no" placeholder="">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="panNo" class="form-label">PAN NO<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="panNo" name="pan_no">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="personName" class="form-label">Contact Person Name<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="personName" name="person_name">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="personNo" class="form-label">Contact Person No<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="personNo" name="person_no">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="contactEmail" class="form-label">Email Id<span
                                            class="text-danger">*</span></label>
                                    <input type="email" class="form-control" id="contactEmail" name="contact_email">
                                </div>
                                <div class="col-xl-12 mb-3">
                                    <label for="billingAddress" class="form-label">Billing Address<span
                                            class="text-danger">*</span></label>
                                    <textarea rows="2" class="form-control" id="billingAddress"
                                              name="billing_address"></textarea>
                                </div>
                                <div class="col-xl-12 mb-3">
                                    <label for="officeAddress" class="form-label">Office Address<span
                                            class="text-danger">*</span></label>
                                    <textarea rows="2" class="form-control" id="officeAddress"
                                              name="office_address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="individualFields" style="display: none;">
                            <div class="row">
                                <div class="col-xl-6 mb-3">
                                    <label for="name" class="form-label">Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="mobileNo" class="form-label">Mobile No<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="mobileNo" name="mobile_no"
                                           placeholder="">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="socialNo" class="form-label">Social No<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="socialNo" name="social_no"
                                           placeholder="">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="email2" class="form-label">Email Id<span
                                            class="text-danger">*</span></label>
                                    <input type="email" class="form-control" id="email2" name="email">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="company" class="form-label">Company<span
                                            class="text-danger">*</span></label>
                                    <select class="default-select form-control" name="company" id="Selectcompany">
                                        <option value="" selected>Select Company</option>
                                        {% for company in companies %}
                                            <option value="{{ company.id }}">{{ company.company_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="address" class="form-label">Address<span
                                            class="text-danger">*</span></label>
                                    <textarea rows="2" class="form-control" id="address" name="address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="venueFields" style="display: none;">
                            <div class="row">
                                <div class="col-xl-6 mb-3">
                                    <label for="venueName" class="form-label">Name<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="venueName" name="venue_name">
                                </div>
                                <div class="col-xl-6 mb-3">
                                    <label for="venueAddress" class="form-label">Address<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="venueAddress" name="venue_address"
                                           placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 mb-3">
                                <label class="form-label">Country<span class="text-danger">*</span></label>
                                <select class="default-select form-control" name="country">
                                    <option value="">Please select</option>
                                    <option value="India">Ind</option>
                                    <option value="USA">USA</option>
                                    <option value="UK">UK</option>
                                </select>
                            </div>
                            <div class="col-xl-6 mb-3">
                                <label for="city" class="form-label">City<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="city" name="city">
                            </div>
                            <div class="col-xl-6 mb-3">
                                <label for="postCode" class="form-label">Post Code<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="postCode" name="post_code">
                            </div>
                            <div class="col-xl-6 mb-3">
                                <label class="form-label">Status<span class="text-danger">*</span></label>
                                <select class="default-select form-control" name="status">
                                    <option value="Active" data-display="Select">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary me-1" type="submit">Submit</button>
                            <button type="button" class="btn btn-danger light ms-1" id="cancelButton">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!--************************
            Update Form
        *************************-->

        <div class="modal fade" id="editConnectModal" tabindex="-1" role="dialog"
             aria-labelledby="editConnectModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editConnectModalLabel">Edit Contact List</h5>
                    </div>
                    <div class="modal-body">
                        <!-- Category Model Form -->
                        <form id="editCategoryForm">
                            <div class="row">
                                <input type="hidden" id="editConnectId">
                                <div class="col-xl-3 mb-3">
                                    <label for="editConnectType">Type</label>
                                    <input type="text" class="form-control" id="editConnectType" name="employeeName">
                                </div>
                                <div class="col-xl-3 mb-3">
                                    <label for="editConnectName" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="editConnectName" name="employeeName">

                                </div>
                                <div class="col-xl-3 mb-3">
                                    <label for="editConnectEmail" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="editConnectEmail" name="categoryType">
                                </div>
                                <div class="col-xl-3 mb-3">
                                    <label for="editConnectMobile" class="form-label">Mobile</label>
                                    <input type="text" class="form-control" id="editConnectMobile" name="categoryType">
                                </div>
                                <div class="col-xl-3 mb-3">
                                    <label for="editConnectAddress" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="editConnectAddress" name="categoryType">
                                </div>
                                <div class="col-xl-3 mb-3">
                                    <label for="editConnectCity" class="form-label">City</label>
                                    <input type="text" class="form-control" id="editConnectCity" name="categoryType">
                                </div>
                                <div class="col-xl-3 mb-3">
                                    <label for="editConnectCountry" class="form-label">Country</label>
                                    <input type="text" class="form-control" id="editConnectCountry" name="categoryType">
                                </div>
                                <div class="col-xl-3 mb-3">
                                    <label for="editConnectPostCode" class="form-label">PostCode</label>
                                    <input type="text" class="form-control" id="editConnectPostCode"
                                           name="categoryType">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeFormBtn">Close</button>
                        <button type="button" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Footer start
        ***********************************-->
        {% include 'product_tracking/footer.html' %}
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->


    </body>

{% endblock %}