{% load static %}
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Rental Management">
	<meta property="og:title" content="Rental Management">
	<meta property="og:description" content="Rental Management">
	<meta property="og:image" content="social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Inventory Management</title>
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static 'product_tracking/images/tekvan_favicon_48x48.png' %}">
	
	<link href="{% static 'product_tracking/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
	<link href="{% static 'product_tracking/vendor/swiper/css/swiper-bundle.min.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'product_tracking/css/nouislider.min.css' %}">
	<link href="{% static 'product_tracking/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
	<link href="{% static 'product_tracking/vendor/jvmap/jquery-jvectormap.css' %}" rel="stylesheet">
	<link href="{% static 'product_tracking/css/buttons.dataTables.min.css' %}" rel="stylesheet">
	<link href="{% static 'product_tracking/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
	
	<!-- tagify-css -->
	<link href="{% static 'product_tracking/vendor/tagify/dist/tagify.css' %}" rel="stylesheet">
	
	<!-- Style css -->
   <link href="{% static 'product_tracking/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'product_tracking/vendor/fullcalendar/css/main.min.css'%}" rel="stylesheet">
	
</head>
