 <!-- Head Section -->
{% include 'product_tracking/head.html' %}

{% load static %}
{% block content %}
<body data-typography="poppins" data-theme-version="light" data-layout="vertical" data-nav-headerbg="black" data-headerbg="color_1">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        {% include 'product_tracking/navheader.html' %}
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		<!--**********************************
            Chat box End
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
        {% include 'product_tracking/header.html' %}
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        {% include 'product_tracking/sidebar.html' %}
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->	
			<div class="page-titles">
				<ol class="breadcrumb">
					<li><h5 class="bc-title">Dashboard</h5></li>
					<li class="breadcrumb-item"><a href="javascript:void(0)">
						<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						Home </a>
					</li>
				</ol>

			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12 wid-100">
						<div class="row">
							<div class="col-xl-4 col-sm-6">
								<div class="card same-card">
									<div class="card-body d-flex align-items-center  py-2">
										<div id="AllProject"></div>
										<ul class="project-list">
											<li><h6>All Projects</h6></li>
											<li>
												<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect width="10" height="10" rx="3" fill="#3AC977"/>
												</svg>
												Compete
											</li>
											<li>
												<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect width="10" height="10" rx="3" fill="var(--primary)"/>
												</svg>
												Pending
											</li>
											<li>
												<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect width="10" height="10" rx="3" fill="var(--secondary)"/>
												</svg>
												Not Start
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xl-8">
								<div class="card overflow-hidden">
									<div class="card-header border-0 pb-0 flex-wrap">
										<h4 class="heading mb-0">Projects Overview</h4>
										<ul class="nav nav-pills mix-chart-tab" id="pills-tab" role="tablist">
										  <li class="nav-item" role="presentation">
											<button class="nav-link active" data-series="week" id="pills-week-tab" data-bs-toggle="pill" data-bs-target="#pills-week" type="button" role="tab"  aria-selected="true">Week</button>
										  </li>
										  <li class="nav-item" role="presentation">
											<button class="nav-link" data-series="month" id="pills-month-tab" data-bs-toggle="pill" data-bs-target="#pills-month" type="button" role="tab"  aria-selected="false">Month</button>
										  </li>
										  <li class="nav-item" role="presentation">
											<button class="nav-link" data-series="year" id="pills-year-tab" data-bs-toggle="pill" data-bs-target="#pills-year" type="button" role="tab"  aria-selected="false">Year</button>
										  </li>
										   <li class="nav-item" role="presentation">
											<button class="nav-link" data-series="all" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-selected="false">All</button>
										  </li>
										</ul>
									</div>
									<div class="card-body  p-0">
											<div id="overiewChart"></div>
										<div class="ttl-project">
											<div class="pr-data">
												<h5>12,721</h5>
												<span>Number of Projects</span>
											</div>
											<div class="pr-data">
												<h5 class="text-primary">721</h5>
												<span>Active Projects</span>
											</div>
											<div class="pr-data">
												<h5>$2,50,523</h5>
												<span>Revenue</span>
											</div>
											<div class="pr-data">
												<h5 class="text-success">12,275h</h5>
												<span>Working Hours</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 active-p">
						<div class="card">
							<div class="card-body p-0">
								<div class="table-responsive active-projects shorting">
								
									<div class="tbl-caption">
										<h4 class="heading mb-0">Active Projects</h4>
									</div>
									<table id="projects-tbl" class="table ItemsCheckboxSec">
										<thead>
                                            <tr>
												<th>
													<div class="form-check custom-checkbox ms-0">
														<input type="checkbox" class="form-check-input checkAllInput" id="checkAll" required="">
														<label class="form-check-label" for="checkAll"></label>
													</div>
												</th>
                                                <th>Project Name</th>
                                                <th>Project Lead</th>
                                                <th>Progress</th>
                                                <th>Assignee</th>
                                                <th>Status</th>
                                                <th>Due Date</th>
                                            </tr>
                                        </thead>
										<tbody>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox2" required="">
														<label class="form-check-label" for="customCheckBox2"></label>
													</div>
												</td>
												<td>Batman</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Liam Risher</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-primary" style="width:53%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-primary">53%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-primary light border-0">Inprogress</span>
												</td>
												<td>
													<span>08 Sep 2023</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox3" required="">
														<label class="form-check-label" for="customCheckBox3"></label>
													</div>
												</td>
												<td>Mivy App</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Honey Risher</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-primary" style="width:53%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-primary">52%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic777.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-danger light border-0">Inprogress</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox22" required="">
														<label class="form-check-label" for="customCheckBox22"></label>
													</div>
												</td>
												<td>Crypto App</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic2.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Ankites Risher</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-danger" style="width:53%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-primary">58%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic777.jpg' %}" class="avatar rounded-circle" alt="">
														
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-danger light border-0">Pending</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox33" required="">
														<label class="form-check-label" for="customCheckBox33"></label>
													</div>
												</td>
												<td>Bender Project</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic2.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Oliver Noah</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-danger" style="width:30%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-danger">30%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-danger light border-0">Pending</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox044" required="">
														<label class="form-check-label" for="customCheckBox044"></label>
													</div>
												</td>
												<td>Canary</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic888.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Elijah James</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-success" style="width:40%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-success">40%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-success light border-0">Completed</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox055" required="">
														<label class="form-check-label" for="customCheckBox055"></label>
													</div>
												</td>
												<td>Casanova</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">William Risher</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-primary" style="width:53%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-primary">53%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-primary light border-0">Inprogress</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox23" required="">
														<label class="form-check-label" for="customCheckBox23"></label>
													</div>
												</td>
												<td>Bender Project</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic2.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Oliver Noah</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-danger" style="width:30%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-danger">30%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-danger light border-0">Pending</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox44" required="">
														<label class="form-check-label" for="customCheckBox44"></label>
													</div>
												</td>
												<td>Canary</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic888.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Elijah James</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-success" style="width:40%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-success">40%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-success light border-0">Completed</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox55" required="">
														<label class="form-check-label" for="customCheckBox55"></label>
													</div>
												</td>
												<td>Casanova</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">William Risher</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-primary" style="width:53%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-primary">53%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-primary light border-0">Inprogress</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox66" required="">
														<label class="form-check-label" for="customCheckBox66"></label>
													</div>
												</td>
												<td>Bigfish</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic777.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Donald Benjamin</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-danger" style="width:30%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-danger">30%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic777.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-danger light border-0">Inprogress</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox7" required="">
														<label class="form-check-label" for="customCheckBox7"></label>
													</div>
												</td>
												<td>Matadors</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic888.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Liam Risher</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-primary" style="width:53%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-primary">53%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic777.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-primary light border-0">Inprogress</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox88" required="">
														<label class="form-check-label" for="customCheckBox88"></label>
													</div>
												</td>
												<td>Mercury</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic2.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Oliver Noah</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-danger" style="width:30%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-danger">30%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic777.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-danger light border-0">Pending</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox99" required="">
														<label class="form-check-label" for="customCheckBox99"></label>
													</div>
												</td>
												<td>Whistler</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic999.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Elijah James</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-success" style="width:40%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-success">40%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic666.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-success light border-0">Completed</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox0102" required="">
														<label class="form-check-label" for="customCheckBox0102"></label>
													</div>
												</td>
												<td>Time Projects</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic2.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">Lucas</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-danger" style="width:33%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-primary">33%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic999.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-primary light border-0">Inprogress</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox110" required="">
														<label class="form-check-label" for="customCheckBox110"></label>
													</div>
												</td>
												<td>Fast Ball</td>
												<td>
													<div class="d-flex align-items-center">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<p class="mb-0 ms-2">William Risher</p>	
													</div>
												</td>
												<td class="pe-0">
													<div class="tbl-progress-box">
														<div class="progress">
															<div class="progress-bar bg-primary" style="width:53%; height:5px; border-radius:4px;" role="progressbar"></div>
														</div>
														<span class="text-primary">53%</span>
													</div>
												</td>
												<td class="pe-0">
													<div class="avatar-list avatar-list-stacked">
														<img src="{% static 'product_tracking/images/contacts/pic1.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic555.jpg' %}" class="avatar rounded-circle" alt="">
														<img src="{% static 'product_tracking/images/contacts/pic999.jpg' %}" class="avatar rounded-circle" alt="">
													</div>
												</td>
												<td class="pe-0">
													<span class="badge badge-primary light border-0">Inprogress</span>
												</td>
												<td>
													<span>06 Sep 2021</span>
												</td>
											</tr>
											
										</tbody>
										
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 up-shd">
						<div class="card">
							<div class="card-header border-0 pb-1">
								<h4 class="heading mb-0">Upcoming Schedules</h4>
							</div>
							<div class="card-body schedules-cal p-2">
                                <label for="datetimepicker1"></label><input type="text" class="form-control d-none" id="datetimepicker1">
								<div class="events">
									<h6>events</h6>
									<div class="dz-scroll event-scroll">
										<div class="event-media">
											<div class="d-flex align-items-center">
												<div class="event-box">
													<h5 class="mb-0">20</h5>
													<span>Mon</span>
												</div>
												<div class="event-data ms-2">
													<h5 class="mb-0"><a href="javascript:void(0)">Development planning</a></h5>
													<span>w3it Technologies</span>
												</div>
											</div>
											<span class="text-secondary">12:05 PM</span>
										</div>
										<div class="event-media">
											<div class="d-flex align-items-center">
												<div class="event-box">
													<h5 class="mb-0">20</h5>
													<span>Mon</span>
												</div>
												<div class="event-data ms-2">
													<h5 class="mb-0"><a href="javascript:void(0)">Development planning</a></h5>
													<span>w3it Technologies</span>
												</div>
											</div>
											<span class="text-secondary">12:05 PM</span>
										</div>
										<div class="event-media">
											<div class="d-flex align-items-center">
												<div class="event-box">
													<h5 class="mb-0">20</h5>
													<span>Mon</span>
												</div>
												<div class="event-data ms-2">
													<h5 class="mb-0"><a href="javascript:void(0)">Development planning</a></h5>
													<span>w3it Technologies</span>
												</div>
											</div>
											<span class="text-secondary">12:05 PM</span>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 up-shd">
						<div class="card">
							<div class="card-header pb-0 border-0">
								<h4 class="heading mb-0">Projects Status</h4>
                                <label>
                                    <select class="default-select status-select normal-select">
                                      <option value="Today">Today</option>
                                      <option value="Week">Week</option>
                                      <option value="Month">Month</option>
                                    </select>
                                </label>
                            </div>
							<div class="card-body">
								<div id="projectChart" class="project-chart"></div>
								<div class="project-date">
									<div class="project-media">
										<p class="mb-0">
											<svg class="me-2" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect y="0.5" width="12" height="12" rx="3" fill="var(--primary)"/>
											</svg>
											Completed Projects
										</p>
										<span>125 Projects</span>
									</div>	
									<div class="project-media">
										<p class="mb-0">
											<svg class="me-2" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect y="0.5" width="12" height="12" rx="3" fill="#3AC977"/>
											</svg>
											Progress Projects
										</p>
										<span>125 Projects</span>
									</div>
									<div class="project-media">
										<p class="mb-0">
											<svg class="me-2" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect y="0.5" width="12" height="12" rx="3" fill="#FF5E5E"/>
											</svg>
											Cancelled
										</p>
										<span>125 Projects</span>
									</div>
									<div class="project-media">
										<p class="mb-0">
											<svg class="me-2" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect y="0.5" width="12" height="12" rx="3" fill="#FF9F00"/>
											</svg>
											Yet to Start 
										</p>
										<span>125 Projects</span>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			
			</div>
        </div>
		
        <!--**********************************
            Content body end
        ***********************************-->

		

        <!--**********************************
            Footer start
        ***********************************-->
        {% include 'product_tracking/footer.html' %}
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->
		
        <!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

</body>
{% endblock %}
